extends layout

block content
  section
    form(data-hook='filter-bar', onsubmit='return false;').filter-bar.row
      div.six.columns
        input(type='text', data-hook='search', placeholder='Search')
      div.two.columns
        select(data-hook='region')
          option(value='') Region
          for region in contentful.regions
            option(value=region.sys.id)= region.name
      div.two.columns
        select(data-hook='type')
          option(value='') Type
          for eventType in contentful.event_types
            option(value=eventType.sys.id)= eventType.name
      div.two.columns
        select(data-hook='date')
          option(value='') Date
          for date in _.chain(contentful.events).map('startDate').sortBy().map(d => moment(d).format('MMM YYYY')).uniq().value()
            option(value=date)= date

    ul(data-hook='events').event-list
      for event in contentful.events
        li(data-id='#{event.sys.id}')
          a.event-list-item(href='events/#{event.slug}.html', style='background-image: url(#{event.featuredImage.fields.file.url});')
            div.event-list-desc
              div.row
                div.nine.columns
                  span= event.title
                div.three.columns.event-list-date
                  span= event.startDate ? moment(event.startDate).format('MMM YYYY') : ''

    //- h2 Blog Posts
    //- ul
    //-   for post in contentful.posts
    //-     li
    //-       a(href='posts/#{post.slug}.html')= post.title

