doctype html

html(lang='en')

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')

    meta(name='description', content='description of your site')
    meta(name='author', content='author of the site')

    //- Responsive!
    meta(name='viewport' content='width=device-width, initial-scale=1')

    title= _path

    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Raleway:400,300,600')
    link(rel='stylesheet', href='#{url}/css/skeleton.css')
    link(rel='stylesheet', href='#{url}/css/build.css?cb=#{cb}')

    script.
      window.url        = '#{url}';
      window.events     = !{JSON.stringify(contentful.events)};
      window.regions    = !{JSON.stringify(contentful.regions)};
      window.eventTypes = !{JSON.stringify(contentful.event_types)};


  body
    header.site-header
      div.container
        div.row
          div.site-header-left.eight.columns
            a.site-title(href='#{url}') Photography Workshops
          div.site-header-right.four.columns
            nav.site-nav
              ul
                li
                  a(href='#{url}') Home
                li
                  a(href='#{url}/posts.html') Blog

    div.container
      div.row
        div.twelve.columns
          block content

    block scripts
